// Colors
$blue: #36b8ff;
$blue-100: #e4effc;
$white-100: #f6f9fd;
$blue-500: #152064; 
$blue-900: #09103a;
$text-dark: #050c36;
$text-gray: #5a607c;
$text-shadow: #cadef5;
$link: #727790;
$icon: #bbd0e8;
$sh-color-1: #f5faff;
$sh-color-2: #cfe2f9;
$sh-color-3: #eff6ff;
$sh-color-4: #d7e7f9;
$sh-color-5: #e0edfb;
$divider: #e6e8f6;

// Screen Sizes
$xs: 576px;
$sm: 767px;
$md: 992px;
$lg: 1024px;
$xl: 1300px;


